@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
   text-align: center;
   background-color: #1e1e2e;
   color: white;
   opacity: 0;
   animation: fade 1s ease forwards;
}

h1 {
   font-family: "Prompt";
}

h2 {
   font-family: monospace;
}

@keyframes fade {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}

hr {
   margin: 0 auto;
   width: 50%;
   height: 2.5px;
   border: none;
   background-color: #ffffff;
   position: relative;
}

a:link a:visited {
   color: #89b4fa;
   text-decoration: none;
   font-family: monospace;
}